[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

django = "*"
gunicorn = "*"
djangorestframework = "*"
django-heroku = "*"
coreapi = "*"
django-rest-auth = "*"
django-allauth = "*"

[requires]

python_version = "3.6"
